<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
        <div class="col-md-11">
            <h3>{{ message }}</h3>
            <h4 *ngIf="error">
                <i style="color: red;">* {{error}} &nbsp;</i>
            </h4>
        </div>
        <div class="col-md-1">
                <button mat-button mat-dialog-close >
                    <mat-icon aria-hidden="false" aria-label="Example home icon" >close</mat-icon>
                </button>
        </div>
    </div>
    </div>
    <hr>
<div mat-dialog-content>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" id="password" class="form-control" name="password" 
                    ngModel required minlength="3" 
                    placeholder="*Only numbers and Latin letters"
                    #password="ngModel">
                    <span class="help-block" *ngIf="!password.valid && password.touched">
                        <span *ngIf="password.errors['minlength']">Password must be at least 3 characers!</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="rePassword">Repeat password</label>
                    <input type="password" id="rePassword" class="form-control" name="rePassword" 
                    ngModel required minlength="1" 
                    placeholder="*Repeat your password"
                    #rePassword="ngModel">
                    <span class="help-block" *ngIf="rePassword.touched && !(password.value == rePassword.value)">
                        Passwords don't match!
                    </span>
                    
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" [disabled]="!f.valid || !(password.value == rePassword.value)" style="margin-right: 5px;">
                      Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

