<div class="row" *ngFor="let recipe of selectedRecipes">
    <div class="row">
        <div class="col-xs-10">
           <a style="cursor: pointer; color: black; text-decoration: none;"
           [routerLink]="['/recipes', recipe.id]"><h3>{{ recipe.name }}</h3></a> 
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <a  [routerLink]="['/recipes', recipe.id]">
                <img [src]="recipe.imageUrl" class="img-responsive" alt="image">
            </a>
        </div>
        <div class="col-xs-8">
            <ul>
                <li *ngFor="let item of recipe.ingredients">
                    {{ item.name }}
                    <span style="color: red; font-style: italic;"
                        *ngIf="!isExistsInShoppingList(item, recipe)">*Deleted</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <button class="btn btn-primary" (click)="onDeleteItemFromShoppingList(recipe)" style="margin-top: 8px;">
                Delete ingredients from Shopping List
            </button>
            <hr>
        </div>
    </div>
</div>